## Xây dựng hệ thống gợi ý theo hướng tiếp cận Content-based

### 1. Import thư viện

In [1]:
import pandas as pd
import numpy as np
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from rapidfuzz import process
import re
import ipywidgets as widgets
from IPython.display import display
import warnings
warnings.filterwarnings('ignore')

### 2. Kết nối & lấy dữ liệu từ MongoDB Atlas

#### 2.1 Kết nối tới MongoDB Atlas

In [2]:
password = 'dsa123456'
uri = f"mongodb+srv://DSA_Project:{password}@cluster0.gdtn4g6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

### 2.2 Lấy thông tin phim

In [3]:
db = client['T2_PreprocessedData']

collection = db['Movies_Infor']
cursor = collection.find()
data_list = list(cursor)

movies_df = pd.DataFrame(data_list, index = None)
movies_df = movies_df.drop('_id', axis=1, errors='ignore')
movies_df.head(2)

,movie_id,title,introduction,runtimeSeconds,genre,releaseDate,releaseLocation,actors,directors,totalRatings,ratingStar,totalAwards,totalNominations
0,tt0019254,The Passion of Joan of Arc,"In 1431, Jeanne d'Arc is placed on trial on ch...",6840,"['Biography', 'Drama', 'History']",1928-10-25,France,"['Maria Falconetti', 'Eugene Silvain', 'André ...",['Carl Theodor Dreyer'],60378.0,8.1,4,1
1,tt0025316,It Happened One Night,A renegade reporter trailing a young runaway h...,6300,"['Comedy', 'Romance']",1934-02-22,United States,"['Clark Gable', 'Claudette Colbert', 'Walter C...",['Frank Capra'],111870.0,8.1,11,2

### 3. Xây dựng hệ thống gợi ý

Ý tưởng: Xây dựng hệ thống gợi ý theo hướng tiếp cận Content-based để tính toán độ tương tự giữa các phim dựa trên thể loại phim. Khi user nhập tên phim, hệ thống sẽ gợi ý những bộ phim có thể loại giống với bộ phim mà user đã nhập.

Mô tả cách thực hiện: 
- Trích xuất thông tin `genre` của các bộ phim, sau đó xây dựng feature vector cho mỗi bộ phim dựa trên `genre` bằng cách sử dụng phương pháp TF-IDF.
-