# TI·ªÄN X·ª¨ L√ù V√Ä KH√ÅM PH√Å D·ªÆ LI·ªÜU

## üìÇ IMPORT TH∆Ø VI·ªÜN C·∫¶N THI·∫æT

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

---

## üìÇ KH√ÅM PH√Å D·ªÆ LI·ªÜU

### 1. ƒê·ªçc d·ªØ li·ªáu t·ª´ file csv v√†o dataframe

In [2]:
df_users = pd.read_csv('data/users_info.csv')
df_users.head(10)

     user_id    user_name    member_since
0  ur0032412  Buckywunder    January 2000
1  ur0033913   Sylviastel    January 2001
2  ur0035229       Spleen    January 2001
3  ur0043337      Dave-79  September 2001
4  ur0058605       Dan-56      March 1999
5  ur0064529      dalton2       July 2000
6  ur0068069       Nuncio      March 1999
7  ur0068788       Boyo-2      March 2000
8  ur0075285          KFL   February 1999
9  ur0078412     Neve_Fan   December 2001

In [3]:
df_rating = pd.read_csv('data/users_rating.csv')
df_rating.head(10)

      user_id   movie_id  user_rating
0   ur1174211  tt0012349          NaN
1   ur4103165  tt0012349          9.0
2   ur4445210  tt0012349          9.0
3   ur1888886  tt0012349          9.0
4   ur0679729  tt0012349          NaN
5   ur0853359  tt0012349         10.0
6  ur15148330  tt0012349          8.0
7   ur2483625  tt0012349          9.0
8   ur9972457  tt0012349          8.0
9   ur0453068  tt0012349         10.0

### 2. D·ªØ li·ªáu g·ªìm bao nhi√™u d√≤ng v√† bao nhi√™u c·ªôt?

In [4]:
#=======================================USERS===============================================
print('USERS DATASET')
num_rows_users = df_users.shape[0]
num_cols_users = df_users.shape[1]
print('S·ªë d√≤ng c·ªßa d·ªØ li·ªáu: ', num_rows_users)
print('S·ªë c·ªôt c·ªßa d·ªØ li·ªáu: ', num_cols_users)

#=======================================RATINGS=============================================
print('RATING DATASET')
num_rows_rating = df_rating.shape[0]
num_cols_rating = df_rating.shape[1]
print('S·ªë d√≤ng c·ªßa d·ªØ li·ªáu: ', num_rows_rating)
print('S·ªë c·ªôt c·ªßa d·ªØ li·ªáu: ', num_cols_rating)

USERS DATASET
S·ªë d√≤ng c·ªßa d·ªØ li·ªáu:  579
S·ªë c·ªôt c·ªßa d·ªØ li·ªáu:  3
RATING DATASET
S·ªë d√≤ng c·ªßa d·ªØ li·ªáu:  99802
S·ªë c·ªôt c·ªßa d·ªØ li·ªáu:  3

### 3. M·ªói d√≤ng c√≥ √Ω nghƒ©a g√¨? C√≥ v·∫•n ƒë·ªÅ c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau kh√¥ng?

Theo quan s√°t s∆° b·ªô v·ªÅ b·ªô d·ªØ li·ªáu:
- B·ªô d·ªØ li·ªáu th√¥ng tin ng∆∞·ªùi d√πng: m·ªói d√≤ng cho bi·∫øt c√°c th√¥ng tin li√™n quan ƒë·∫øn ng∆∞·ªùi d√πng v√† th·ªùi gian tham gia v√†o h·ªá th·ªëng.
- B·ªô d·ªØ li·ªáu ƒë√°nh gi√° phim: m·ªói d√≤ng cho bi·∫øt th√¥ng tin li√™n quan ƒë·∫øn ng∆∞·ªùi d√πng, b·ªô phim, v√† ƒëi·ªÉm ƒë√°nh gi√° c·ªßa ng∆∞·ªùi d√πng v·ªõi b·ªô phim t∆∞∆°ng ·ª©ng. 

C√≥ v·∫ª kh√¥ng c√≥ d√≤ng n√†o kh√¥ng ph√π h·ª£p.

### 4. D·ªØ li·ªáu c√≥ c√°c d√≤ng b·ªã l·∫∑p kh√¥ng?

In [5]:
def check_duplicated(data):
    check = data.duplicated().sum()
    if check == 0:
        print('D·ªØ li·ªáu kh√¥ng b·ªã l·∫∑p!')
    else:
        print('C√≥ d√≤ng b·ªã l·∫∑p, ki·ªÉm tra l·∫°i!')

#=======================================USERS===============================================
print('USERS DATASET')
check_duplicated(df_users)

#=======================================RATINGS=============================================
print('RATING DATASET')
check_duplicated(df_rating)

USERS DATASET
D·ªØ li·ªáu kh√¥ng b·ªã l·∫∑p!
RATING DATASET
D·ªØ li·ªáu kh√¥ng b·ªã l·∫∑p!

### 5. M·ªói c·ªôt c√≥ √Ω nghƒ©a g√¨?

- B·ªô d·ªØ li·ªáu th√¥ng tin ng∆∞·ªùi d√πng: 
    - **user_id**: id c·ªßa ng∆∞·ªùi d√πng.
    - **user_name**: t√™n c·ªßa ng∆∞·ªùi d√πng.
    - **member_since**: Th√°ng v√† nƒÉm tham gia.
- B·ªô d·ªØ li·ªáu ƒë√°nh gi√° phim:
    - **user_id**: id c·ªßa ng∆∞·ªùi d√πng.
    - **movie_id**: id c·ªßa b·ªô phim.
    - **user_rating**: ƒëi·ªÉm ƒë√°nh gi√° c·ªßa ng∆∞·ªùi d√πng cho b·ªô phim t∆∞∆°ng ·ª©ng. ƒêi·ªÉm n√†y s·∫Ω giao ƒë·ªông trong kho·∫£ng th·ª´ 1 - 10 ƒëi·ªÉm.

### 6. M·ªói c·ªôt hi·ªán ƒëang c√≥ ki·ªÉu d·ªØ li·ªáu g√¨? C√≥ c·ªôt n√†o c√≥ ki·ªÉu d·ªØ li·ªáu ch∆∞a ph√π h·ª£p ƒë·ªÉ c√≥ th·ªÉ x·ª≠ l√Ω ti·∫øp kh√¥ng?

In [6]:
#=======================================USERS===============================================
print('USERS DATASET')
col_dtypes_users = pd.Series(df_users.dtypes)
col_dtypes_users

USERS DATASET

user_id         object
user_name       object
member_since    object
dtype: object

In [7]:
#=======================================RATINGS=============================================
print('RATING DATASET')
col_dtypes_rating = pd.Series(df_rating.dtypes)
col_dtypes_rating

RATING DATASET

user_id         object
movie_id        object
user_rating    float64
dtype: object

#### üîé T√¨m hi·ªÉu v·ªÅ c√°c c·ªôt c√≥ ki·ªÉu object

In [8]:
def object_dtype(s):
    dtypes = set()
    s.apply(lambda x : dtypes.add(type(x)))
    return dtypes

In [9]:
#=======================================USERS===============================================
print('USERS DATASET')
list_object_users= list(col_dtypes_users.loc[col_dtypes_users.values == object].index)
list_type_users = []
for i in list_object_users:
    list_type_users.insert(len(list_type_users), object_dtype(df_users[i]))
type_object_users = pd.Series(list_type_users,list_object_users)
type_object_users

USERS DATASET

user_id         {<class 'str'>}
user_name       {<class 'str'>}
member_since    {<class 'str'>}
dtype: object

In [10]:
#=======================================RATINGS=============================================
print('RATING DATASET')
list_object_rating= list(col_dtypes_rating.loc[col_dtypes_rating.values == object].index)
list_type_rating = []
for i in list_object_rating:
    list_type_rating.insert(len(list_type_rating), object_dtype(df_rating[i]))
type_object_rating = pd.Series(list_type_rating,list_object_rating)
type_object_rating

RATING DATASET

user_id     {<class 'str'>}
movie_id    {<class 'str'>}
dtype: object

üí° **Ta th·∫•y r·∫±ng**: N√™n ƒë∆∞a c·ªôt `member_since` v·ªÅ d·∫°ng `datetime` ƒë·ªÉ ti·∫øp t·ª•c kh√°m ph√° th√™m ·ªü c·ªôt n√†y.

---

<h2> üìÇ TI·ªÄN X·ª¨ L√ù D·ªÆ LI·ªÜU </h2>

### Chuy·ªÉn dtype c√°c c·ªôt **member_since** v·ªÅ `datetime`

In [11]:
df_users['member_since'] = pd.to_datetime(df_users['member_since']).dt.to_period('M');

C:\Users\admin\AppData\Local\Temp\ipykernel_7092\4168177047.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_users['member_since'] = pd.to_datetime(df_users['member_since']).dt.to_period('M');

---

<h2> üìÇ QUAY L·∫†I B∆Ø·ªöC KH√ÅM PH√Å D·ªÆ LI·ªÜU </h2>

### ‚úàÔ∏è 7. V·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu d·∫°ng numeric, ta t√¨m hi·ªÉu s·ª± ph√¢n b·ªë c√°c gi√° tr·ªã.

üîé Hi·ªán t·∫°i c√≥ c√°c c·ªôt l√† `member_since` trong dataframe th√¥ng tin ng∆∞·ªùi d√πng v√† c·ªôt `user_rating` trong dataframe th√¥ng tin ƒë√°nh gi√° phim thu·ªôc nh√≥m `Numeric`. V·ªõi m·ªói c·ªôt ta s·∫Ω t√≠nh t·ªâ l·ªá % gi√° tr·ªã thi·∫øu (t·ª´ 0 ƒë·∫øn 100), min, max. Sau ƒë√≥ l∆∞u k·∫øt qu·∫£ v√†o dataframe c√≥ 6 d√≤ng l√† `"missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"` v√† c√≥ t√™n c·ªôt l√† c√°c c·ªôt thu·ªôc nh√≥m `Numeric`

In [12]:
row_info = ["missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"]

def find_data(col_name, df):
    missing_ratios = (df[col_name].isna().sum() / len(df) * 100)
    min_value = df[col_name].min()
    median = df[col_name].median()
    lower_quartile = df[col_name].quantile(q = 0.25, interpolation = 'lower')
    upper_quartile = df[col_name].quantile(q = 0.75, interpolation = 'higher')
    max_value = df[col_name].max()
    return missing_ratios, min_value, lower_quartile,median,upper_quartile, max_value

In [13]:
#=======================================USERS===============================================
print('USERS DATASET')
col_info_users = ['member_since']
nume_col_profiles_df_users = pd.DataFrame(columns = col_info_users, index = row_info)
for name in col_info_users:
    nume_col_profiles_df_users[name] = find_data(name, df_users)
nume_col_profiles_df_users

USERS DATASET

               member_since
missing_ratio           0.0
min                 1999-02
lower_quartile      2003-06
median              2007-06
upper_quartile      2015-08
max                 2023-11

In [14]:
#=======================================RATINGS=============================================
print('RATING DATASET')
col_info_rating = ['user_rating']
nume_col_profiles_df_rating = pd.DataFrame(columns = col_info_rating, index = row_info)
for name in col_info_rating:
    nume_col_profiles_df_rating[name] = find_data(name, df_rating)
nume_col_profiles_df_rating

RATING DATASET

                user_rating
missing_ratio      9.346506
min                1.000000
lower_quartile     6.000000
median             8.000000
upper_quartile     9.000000
max               10.000000

üí° **Ta th·∫•y r·∫±ng**: C·ªôt `user_rating` c√≥ h∆°n 9% d·ªØ li·ªáu b·ªã thi·∫øu. Ta s·∫Ω ti·∫øn h√†nh l·∫•p ƒë·∫ßy c√°c d·ªØ li·ªáu thi·∫øu n√†y b·∫±ng gi√° tr·ªã trung b√¨nh c·ªßa c·ªôt `user_rating`.

---

### X·ª≠ l√Ω gi√° tr·ªã thi·∫øu trong c·ªôt `user_rating` c·ªßa d·ªØ li·ªáu **rating**

In [15]:
mean_value = int(df_rating['user_rating'].mean())
df_rating['user_rating'].fillna(value = mean_value, inplace = True)

---

### 8. V·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu d·∫°ng categorical, ta t√¨m hi·ªÉu s·ª± ph√¢n b·ªë c√°c gi√° tr·ªã.

üîé Ngo√†i c√°c c·ªôt c√≥ d·ªØ li·ªáu thu·ªôc nh√≥m `Numeric` ƒë√£ n√™u ·ªü tr√™n ta x√©t c√°c c·ªôt c√≤n l·∫°i.
V·ªõi m·ªói c·ªôt `categorical`, ta th·ª±c hi·ªán t√≠nh % gi√° tr·ªã thi·∫øu(t·ª´ 0 - 100), s·ªë l∆∞·ª£ng gi√° tr·ªã kh√°c nhau(kh√¥ng x√©t gi√° tr·ªã thi·∫øu), list/array c√°c gi√° tr·ªã kh√°c nhau(kh√¥ng x√©t gi√° tr·ªã thi·∫øu) v√† l∆∞u k·∫øt qu·∫£ v√†o dataframe c√≥ 3 d√≤ng l√† `"missing_ratio", "num_diff_vals", "diff_vals"`; v√† c√≥ c√°c c·ªôt l√† c√°c c·ªôt d·ªØ li·ªáu thu·ªôc nh√≥m categorical.

In [16]:
row_names = ["missing_ratio", "num_diff_vals", "diff_vals"]

def info_col(col_name,df):
    missing_ratios = df[col_name].isna().sum()/len(df)*100
    num_diff = df[col_name].dropna().nunique()
    diff_value = list(df[col_name].dropna().unique())
    return missing_ratios, num_diff, diff_value

In [17]:
#=======================================USERS===============================================
print('USERS DATASET')
col_names_users = ['user_id', 'user_name']
cate_col_profiles_df_users = pd.DataFrame(columns=col_names_users,index=row_names)

for name in col_names_users:
    cate_col_profiles_df_users[name] = info_col(name, df_users)
cate_col_profiles_df_users

USERS DATASET

,user_id,user_name
missing_ratio,0.0,0.0
num_diff_vals,579,579
diff_vals,"[ur0032412, ur0033913, ur0035229, ur0043337, u...","[Buckywunder, Sylviastel, Spleen, Dave-79, Dan..."

In [18]:
#=======================================RATINGS=============================================
print('RATING DATASET')
col_names_rating = ['user_id', 'movie_id']
cate_col_profiles_df_rating = pd.DataFrame(columns=col_names_rating,index=row_names)

for name in col_names_rating:
    cate_col_profiles_df_rating[name] = info_col(name, df_rating)
cate_col_profiles_df_rating

RATING DATASET

,user_id,movie_id
missing_ratio,0.0,0.0
num_diff_vals,22418,19516
diff_vals,"[ur1174211, ur4103165, ur4445210, ur1888886, u...","[tt0012349, tt0015324, tt0015864, tt0017136, t..."

---

### 9. Sau khi kh√°m ph√° & ti·ªÅn x·ª≠ l√Ω d·ªØ li·ªáu xong, ta s·∫Ω xu·∫•t ra m·ªôt file .csv kh√°c ƒë·ªÉ ph·ª•c v·ª• cho c√°c b∆∞·ªõc ti·∫øp theo.

In [19]:
df_users.to_csv('data/users_infor_explored.csv', index = False)

In [20]:
df_rating.to_csv('data/users_rating_explored.csv', index = False)